.cPG_Console{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    width: 300px;
    min-width: 100px;
    max-width: 50%;
}

.cPG_ConsoleDragBar{
    width: 2px;
    height: 100%;
    background: #c7c7c7;
    cursor: col-resize;
    float: left;
}

.cPG_ConsoleLog{
    overflow: auto;
}

.cPG_ConsoleLog aside{
    padding: 0 10px;
    font-weight: normal;
}

.cPG_ConsoleLogLevelLog{
    color: green;
}

.cPG_ConsoleLogLevelInfo{
    color: lightskyblue;
}

.cPG_ConsoleLogLevelWarn{
    color: yellow;
}

.cPG_ConsoleLogLevelError{
    color: red;
    font-weight: bold;
}