.cPG_DeviceFrame{
    position: absolute;
    top: 50%;
    left: 50%;
}

.cPG_DeviceSandbox{
    position: relative;
    top: 50%;
    left: 50%;
    border: none;
}

.cPG_Device_iOS_iPhone5{
    background: url(/img/devices/Device_iOS_iPhone5.png);
    width: 804px;
    height: 380px;
    margin-left: -402px;
    margin-top: -190px;
}

.cPG_Device_iOS_iPhone4{
    background: url(/img/devices/Device_iOS_iPhone4.png);
    width: 742px;
    height: 379px;
    margin-left: -371px;
    margin-top: -190px;
}